<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Bar Chart</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            
            
            {% if user.is_authenticated %}
                  <!-- <li>Hello {{user.first_name}}</a></li> -->
                  <a class="nav-item nav-link" >Hello {{user.first_name}}</a>
                  <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            
                  
            {% else %}
                  <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                  <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                  
            {% endif %}
            
          </div>
        </div>
      </nav>
    <h3><center>Please provide your email id so we will mail you bar chart image</center></h3>
    <div class="row">
        <form method="POST" class="col s12 form" action="{% url 'barchart'  %}">
           {% csrf_token %}
           <table class = 'w-50 table table-light' style="border-radius:10px;background-color:#ffffff;">
           <tr>
               <th>Email</th>
               <td><input type="email" name="email" placeholder="Email"><br></td>
           </tr>
           </table>
           <button class="btn btn-outline-success input-field col s6 m4 offset-m4 offset-s3" type="submit">Submit</button>
           
         </form>
     </div>
     <div>
        {%if messages%}
            {% for msg in messages %}
                {{msg}}
            {% endfor %}
        {%endif%}
    </div>
</body>
</html>