{% extends 'home.html' %}
{% block content %}
<br>
    <table class="table table-light table-bordered table-striped">
        <tbody>
        
        <caption style="caption-side:top; text-align: center;font-weight: bold">
            {% if start_date%} 
            Covid report from date {{start_date}} to {{end_date}}
            {% else %}
            Covid report of last 15 days
            {%endif%} 
        </caption>

        <tr>
            <th>Country</th>
            <td>{{country}}</td>
        </tr>
        {% if Total_patients%}
        <tr>
            <th>Total Cases</th>
            <td>{{Total_patients}} {{msg}}</td>
        </tr>
        {%endif%}
        {% if Total_recovered%}
        <tr>
            <th>Total Recovery</th>
            <td>{{Total_recovered}} {{msg}}</td>
        </tr>
        {%endif%}
        {% if total_death%}
        <tr>
            <th>Total Deaths</th>
            <td>{{total_death}} {{msg}}</td>
        </tr>
        {%endif%}
        <tr>
            <th>New cases</th>
            <td>{{new_confirmed}}</td>
        </tr>
        <tr>
            <th>New Recovery</th>
            <td>{{new_recovered}}</td>
        </tr>
        <tr>
            <th>New Deaths</th>
            <td>{{new_deaths}}</td>
        </tr>
        <tr>
            <th>Active Cases</th>
            <td>{{active_patient}} {{msg}}</td>
        </tr>
        <tr>
            <th>Death Rate</th>
            <td>{{death_rate}}</td>
        </tr>
        <tr>
            <th>Recovery Rate</th>
            <td>{{recovery_rate}}</td>
        </tr>
        {% if cases_per_million_population%}
        <tr>
            <th>Cases Per Million Population</th>
            <td>{{cases_per_million_population}}</td>
        </tr>
        {%endif%}
    </tbody>
    </table>
    
{% endblock content %}