{% extends 'home.html' %}

{% block content %}

<form action="{% url 'register' %}" method="POST">
    {% csrf_token %}
    
    
        Employee First Name       :<input type="text" name="first_name" placeholder="First Name"><br>
        Employee Last Name       :<input type="text" name="last_name" placeholder="Last Name"><br>
        Email            :<input type="email" name="email" placeholder="Email"><br>
        Country          :<input type="text" name="country" placeholder="Country"><br>
        Username         :<input type="text" name="username" placeholder="User Name"><br>
        Password         :<input type="password" name="password" placeholder="Password"><br>
        Confirm Password :<input type="password" name="password2" placeholder="Confirm Password"><br>
        <input type="submit" />

    

</form>

{% endblock content %}